
.project{
    background-color: #F8F8F8;
    padding: 80px;
}
.myproject h1{
    text-align: center;
    margin-bottom: 85px; 
}
#container-project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.project-card{
    background-color: white;
    margin-bottom: 30px;
    padding: 10px;   
    width: 383px;
    border-radius: 15px;
    box-shadow: 0px 5px 8px rgb(182, 182, 182);
}
.project-card img {
    margin: auto;
    display: flex;
    width: 380px;
    border-radius: 15px;
}
.project-card a{
    text-decoration: none;
    color: black;
}
h3{
    margin-bottom: 5px;
}
.project-card h4 {
    margin: 0px;
    color: rgb(154,150,150);
}
.logo img{
    width: 40px;
    margin: 10px;
}
.project-card h5{
    align-items:left ;
    margin: 10px 0px;
    font-weight: normal;
    font-size: 12pt;
}
.logo{
    display: flex;
}
.button {
    display: flex;
}
.button button:hover{
    border: none;
}
.project-card button{
    background-color: black;
    color: white;
    margin: 50px auto 0px auto;
    justify-content: space-around;
    padding: 10px 77px ;
    border-radius: 15px;
}